a {
    text-decoration: none;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Crosses out todo task when completed*/
.completedTask {
    text-decoration: line-through;
    font-weight: bold;
    color: red; 
}

.percentage {
    float: left;
    padding-right: 10px;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 60%;
    border-radius: 50%;
}

#loginForm {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.btn:hover {
        opacity: 0.8;
    }

/* Set all odd list items to a different color (zebra-stripes) */
tr:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
tr:hover {
    background: #edeab1;
}

#todoCreateForm {
    background-color: lightblue;
    padding: 20px 10px 10px 10px;
    color: white;
    text-align: center;
    /*width: 20%;*/
}

.myTasks {
    text-align: center;
    color: white;
    padding: 14px 20px;
    margin: 50px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.jumbotron {
    background-color: lightblue;
}

.navbar a {
    color: white;
}

.desc-label {
    background-color: #ddd;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}